<legend>Add a Recipe</legend>

<form (submit)='onSubmit($event, form) || form.reset()' #form='ngForm'>
  <!-- {{ form.value | json }} -->
  <div>
    <label for="name">Recipe Name:</label>
    <input type="text" name="name" [(ngModel)]="recipe.name" required>
  </div>
  <div>
    <label for="sourceType">Source:</label>
    <select name="sourceType" [(ngModel)]="sourceType">
      <option value="book">Book</option>
      <option value="web">Webpage</option>
      <option value="magazine">Magazine</option>
      <option value="other">Other</option>
    </select>
    <!-- Add source selection check -->
  </div>
  <div *ngIf="sourceType==='book' || sourceType==='magazine'">
    <div>
      <label for="source">Recipe Source:</label>
      <input type="text" name="source" [(ngModel)]="recipe.source">
    </div>
    <div>
      <label for="pageNumber">Page Number:</label>
      <input type="number" name="pageNumber" [(ngModel)]="recipe.pageNumber">
    </div>
    <input type="file" name="sourceFile" [(ngModel)]="recipe.file">
  </div>
  <div *ngIf="sourceType==='web'">
    <label for="source">Recipe Source:</label>
    <input type="url" name="source" [(ngModel)]="recipe.source">
  </div>
  <div *ngIf="sourceType==='other'">
    <label for="source">Recipe Source:</label>
    <input type="text" name="source" [(ngModel)]="recipe.source">
    <input type="file" name="sourceFile" [(ngModel)]="recipe.file">
  </div>
  <button [disabled]="form.invalid">Add Recipe</button>
</form>

<button routerLink="/home">Back</button>